.box1{
    text-align: center;
}
.box6{
    padding: 0 0 0 10px;
}
.box6 img{
    margin: 50px 0;
    height: 500px;
    width: 500px;
}
.box7{
    text-align: center;
}
.box7 button{
    margin: 0 130px;
}